

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    outline: none;
    font-family: 'Press Start 2P';
    /* font-weight: 100; */
    /* font-size: small; */
    -webkit-text-stroke: 0.1px black;
}

@font-face {
    font-family: 'fontc57ba99faea14161a969961ba5f7fd00';
        
        src:    url('https://nomail.com.ua/files/eot/c57ba99faea14161a969961ba5f7fd00.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/c57ba99faea14161a969961ba5f7fd00.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/c57ba99faea14161a969961ba5f7fd00.woff2') format('woff2');
    }
    
    @font-face { font-family: 'Silkscreen';  src: local('Silkscreen'), url('https://nomail.com.ua/files/woff/c57ba99faea14161a969961ba5f7fd00.woff') format('woff'); }


#silkscreen { font-family:'Silkscreen'; }
.fontc57ba99faea14161a969961ba5f7fd00 { font-family: 'fontc57ba99faea14161a969961ba5f7fd00'; }


body {
    overflow-y: hidden;
    overflow-x: hidden;
}


@keyframes death {
    0% {
        opacity: 0;
    }
    100% {
        opacity:  1;
    }
}


.fon{
    font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Добавили выравнивание по вертикали */
        height: 100vh;
        margin: 0;
        background-image: url("/images/login.png"); /* Замените на путь к вашей картинке */
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    height: 100%;
    margin-top: 0%;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    /* height: 100%; */
    margin-top: 0%;
}

.buttonsDivAchiev {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1px;
    width: 100%;
    /* height: 100%; */
    /* margin-top: 0%; */
}

.buttonsDivAchiev::-webkit-scrollbar {
    display:  none;
}

.mainMenu {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1%; */
    justify-content: space-around; /* Добавили выравнивание по вертикали */
    height: 100vh;
    background-image: url("/images/login.png"); /* Замените на путь к вашей картинке */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.news{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsImg{
    height: 100vh;
    width: 55%;
}

.loginButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0%;
}

.mainMenuButtons{
    width: 320px;
    height: 55px;
    font-size: x-large;
    font-family: 'Silkscreen', cursive;
    color: white;
    cursor: pointer;
    transition-duration: 200ms;
}

.mainMenuButtons:hover{
    filter: brightness(70%);
}

.mainMenuButtons:active{
    /* color: rgb(134, 134, 134); */
    box-shadow: inset 0 0 10px #000000;
    /* background: linear-gradient(rgb(80, 80, 80), rgb(19, 19, 19)); */
}


.buttonLogin{
    width: 135px;
    height: 25px;
    color: white;
    background: linear-gradient(rgb(130, 130, 130), rgb(39, 39, 39));
    cursor: pointer;
}

.buttonLogin:active{
    color: rgb(134, 134, 134);
    background: linear-gradient(rgb(80, 80, 80), rgb(19, 19, 19));
}

.buttonRegister{
    width: 155px;
    cursor: pointer;
    height: 25px;
    color: white;
    background: linear-gradient(rgb(130, 130, 130), rgb(39, 39, 39));
}

.buttonRegister:active{
    color: rgb(134, 134, 134);
    background: linear-gradient(rgb(80, 80, 80), rgb(19, 19, 19));
}  

.loginLabel{
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 1px #000;
}

.loginButton{
    width: 150px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(89, 207, 59), rgb(2, 66, 23));
}

.registerButton{
    width: 150px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: linear-gradient( rgb(94, 126, 197), rgb(2, 28, 66));
}

.left{
   scale: -1 1;
}

.debugRadiusEnemy{
    background-color: rgba(255, 0, 0, 0.445);
    z-index: -1;
}

.debugRadiusNPC{
    background-color: rgba(0, 161, 35, 0.527);
    z-index: -1;
}

.HP{
    background-color: red;
    height: 20px;
    position: absolute;
    left: 50px;
    top: 25px;
    border: 3px solid black;
    transition-duration: 200ms;
}

.gameOver{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOverImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    /* opacity: 0; */
    animation: death 1s;
}

.gameWorking{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),linear-gradient(0deg, rgba(73,46,0,0.2) 17%, rgba(173,101,0,0.2) 73%),url('/images/blocks/Block2.png'); 
    background-size: 75px;
    width: 1920px;
    height: 1080px;
    background-repeat: repeat;
    z-index: -1;
}


.respawnButton{
    position: absolute;
    cursor: pointer;
    /* top: 60%;
    left: 45%; */
    /* display: flex; */
    /* flex-direction: column; */
/* justify-content: center; */
/* flex-shrink: 0; */
    /* border-radius: 35px; */
/* border: 1px solid #000; */
background: linear-gradient(180deg, #BD3E3E 0%, #373737 100%);
width: 320px;
height: 55px;
font-size: x-large;
font-family: 'Silkscreen', cursive;
color: white;
cursor: pointer;
transition-duration: 200ms;
font-weight: 700;
    /* width: 200px; */
    /* height: 50px; */
    z-index: 500;
}
.textError{
    color: #882424;
    -webkit-text-stroke: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 'Silkscreen',cursive;
    font-size: xxx-large;
    z-index: 9999;
    text-align: center;
}

.respawnButton:hover{
    background: linear-gradient(180deg, #5e1f1f 0%, #141414 100%);
}

.respawnButton:active{
    background: linear-gradient(180deg, #1d0606 0%, #0f0f0f 100%);
}

.product{
    cursor: pointer;
    transition-duration: 100ms;
    box-shadow: 5px 3px 12px 1px rgba(0,0,0,0.3);
}

.product:hover{
    filter: brightness(60%);
    transform: translateY(5px);
    box-shadow: 3px 1px 12px 1px rgba(0,0,0,0.6);
}

.product:active{
    filter: brightness(60%);
    transform: translateY(10px);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.7);
}

p {
    font-weight: bold;
}

/* https://drive.google.com/uc?export=view&id=1Lj_LQ_RNBK1sMoT4iv4-7fOZnZksp2yQ */

.coinText{
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: smaller;
    /* height: 50px; */
}
.mainMenuText{
    font-size: xxx-large;
    color: white;
    font-family: 'Silkscreen', cursive;
}
.product-not-active{
    filter: brightness(40%);
    box-shadow: 5px 3px 12px 1px rgba(0,0,0,0.3);
}

.bossAttack{
    /*background-color: rgba(0,0,0,0.5);*/
    position: absolute;
}

.cheatActivated{
    position: absolute;
    left: 80%;
    top: 5%;
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Silkscreen', cursive;
    background-color: rgba(0,0,0,0.6);
}

.startNews{
    position: absolute;
    bottom: 0;
    right: 0;
}

.bullet{
    border-radius: 100px;
    box-shadow: 0px 0px 50px 10px rgb(0, 162, 255);
    
}

.platform{
    background: radial-gradient(circle, rgba(37,156,181,1) 29%, rgba(253,187,45,0) 100%);
    /* border-radius: 100px; */
    /* box-shadow: 0px 0px 50px 10px rgb(0, 162, 255); */
}

.fliedenemy{
    /* border-radius: 100px; */
    box-shadow: 0px 5px 50px 1px rgb(0, 162, 255);
}

.tasks{
    background-color: rgba(0,0,0,0.7);
    display: flex;
    padding: 10px;
    flex-direction: column;
    border: 3px solid white;
    gap: 20px;
    z-index: 5;
}

.tasksText{
    color: white;
    font-size: medium;
}

.task{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mathText{
    color: white;
    font-family: 'Silkscreen', cursive;
    background: none;
}


.decBack{
    background-image: url('/images/background/Background3.jpg');
    background-size: 300%;
    background-position-y: center;
    /* background-repeat: no-repeat; */
}

/* .decBackHole{
    background-image: url('/images/background/Background3.jpg');
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
} */


/* .lightElem{
     z-index: 9999;
    width: 100%;
    height: 100%; 
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
} */

/* .lightning{
    position: absolute;
    height: 100%;
    width: 100px;
} */

.gate{
    image-rendering: pixelated;
}

.gameWorking{
    box-shadow: inset 0px 0px 50px 5px black;
}